@media (min-width: 428px) {
  /*!----------FEATURES----------*/

  .container {
    max-width: 426px;
  }

  .features-title {
  }

  /*?--------------INFO--------------*/
}

@media (min-width: 768px) {
  /*!------------- HEADER ----------- */

  .header {
    padding: 16px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
  }

  .contacts-list-item {
    width: 118px;
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list-item.link:hover,
  .contacts-list-item.link:focus {
    color: #404bbf;
  }

  .burger-open {
    display: none;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 4px;
    background-color: #404bbf;
    display: block;
    width: 100%;
    border-radius: 2px;
  }

  /*?----------- MAIN -------------- */

  .hero {
    padding: 112px 136px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-main-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-main-tablet@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-main-tablet@3x.jpg);
    }
  }

  .hero-title {
    width: 496px;
    font-size: 56px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }

  .main-container {
    gap: 36px;
  }

  /*!----------FEATURES----------*/

  .container {
    max-width: 766px;
  }

  .features-list {
    gap: 72px 24px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  /*!-------------TEAM--------------*/

  .team-list {
    gap: 64px 24px;
  }

  /**----------CUSTOMERS---------- */

  .customers {
    max-width: 552px;
    margin: 0 auto;
  }

  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }

  /*?----------FOOTER----------*/

  .footer {
  }

  .footer-container {
    flex-direction: row;
    row-gap: 72px;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 584px;
    text-align: start;
    justify-content: unset;
  }

  .footer-box {
  }

  .footer-logo,
  .social-footer-paragraph,
  .footer-subscribe-text {
    text-align: start;
  }

  .footer-input {
    max-width: 264px;
  }

  .footer-wrap {
    display: flex;
    gap: 24px;
  }

  .footer-form {
    column-gap: 24px;
  }

  .social-footer {
    margin: 0;
  }

  .subscribe-container {
  }
}

@media (min-width: 1158px) {
  /*!------------ HEADER ----------------- */
  .header {
    max-height: 72px;
    padding: 24px;
  }

  .main-container {
    gap: 48px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
  }

  .contacts-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .current::after {
    bottom: 5px;
  }

  /*?----------- MAIN -------------- */

  .hero {
    padding: 188px 472px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-main@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-main@3x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    width: 496px;
  }

  /*!----------FEATURES----------*/

  .container {
    max-width: 1158px;
  }

  .features {
    padding: 120px 0;
  }

  .features-list {
    gap: 0 24px;
  }

  .features-list-item {
    width: calc((100% - 72px) / 4);
  }

  .block {
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
  }

  .features-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title);
    margin-bottom: 8px;
  }

  /*?--------------INFO--------------*/

  .info {
    padding-bottom: 120px;
    display: block;
  }
  .info-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title);
    margin-bottom: 72px;
  }
  .info-list {
    display: flex;
    gap: 24px;
  }
  .info-list-item {
    width: calc((100%-48px) / 3);
  }
  .info-list-img {
  }

  /*!-------------TEAM--------------*/

  .team-list {
    gap: 0 24px;
  }

  /**----------CUSTOMERS---------- */

  .customers {
    max-width: 1158px;
  }

  .customers-list {
    gap: 0 24px;
  }

  .customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  .customers {
    padding: 120px 0;
  }

  /*!---------------- FOOTER ------------------*/

  .footer {
    padding: 100px 0;
  }

  .footer-input {
    width: 264px;
    height: 40px;
  }

  .footer-container {
    gap: 0 80px;
  }

  .subscribe-container {
  }

  .footer-wrap {
    gap: 0 120px;
  }
}
