:root {
    --main-text:#434455;
    --title:#2E2F42
}   

.link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.body {
font-family: "Roboto", sans-serif;
color: var(--main-text);
background-color: #FFFFFF;
}

.header {
}

.header-nav {
}

.header-nav-logo {
font-family: "Raleway", sans-serif;
Font style: ExtraBold;
Font size: 18px;
font-weight: 800;
Line height: 1.17;
letter-spacing: 0.03em 
text-decoration: none;
color:#4D5AE5;
text-transform: uppercase;
}

.header-nav-logo span {
color: var(--main-text);
}

.header-nav-list {

}
.header-nav-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title)
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.contacts {

}
.contacts-list {

}
.contacts-list-item {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}

/*?----------MAIN-HERO------------*/
.main {

}
.hero {

}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
text-align: center;
background-color: var(--title);
}

.hero-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
}

/*!----------FEATURES----------*/

.features {
}
.features-list {
}
.header-nav-item {
}
.title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title);
}
.features-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--main-text);
}

/*?--------------INFO--------------*/

.info {
}
.info-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title); 

}
.info-list {
}
.info-list-item {
}
.info-list-img {
}

/*!-------------TEAM--------------*/

.team {
}
.team-title {
}
.info-title {
}
.team-list {
}
.team-list-item {
}
.team-list-img {
}
.team-list-title.title {
    text-align: center;
}
.team-list-text.features-text {
    text-align: center;
}
/*?----------FOOTER----------*/

.footer {
    background-color: var(--title);
}
.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5,
letter-spacing: 0.02em;
color: #F4F4FD;
}

/*!---------------PORTFOLIO-----------*/

.nav-button {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
background-color: #F4F4FD;
}
.nav-button:hover :focus {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}