:root {
    --main-text:#434455;
    --title:#2E2F42
}   

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-text); 
font-style: normal;
}

.body {
font-family: "Roboto", sans-serif;
color: var(--main-text);
background-color: #FFFFFF;
}

/**--------------HEADER-----------------*/

.header {
}

.header-nav {
}

.logo {
font-family: "Raleway", sans-serif;
Font style: ExtraBold;
font-size: 18px;
font-weight: 800;
Line-height: 1.17;
letter-spacing: 0.03em;
color:#4D5AE5;
text-transform: uppercase;
}

.alt-logo {
color: #2e2f42;
}

.header-nav-logo {

}

.header-nav-list {

}
.header-nav-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-nav-item:hover {
color: #404bbf;
}

.header-nav-item:focus {
color: #404bbf;
}

.contacts {
font-style: normal;
}
.contacts-list {

}

.contacts-list-item.link:hover {
color:#404bbf;
}

.contacts-list-item.link:focus {
color:#404bbf;
}

/*?----------MAIN-HERO------------*/
.main {

}
.hero {
background-color: #2e2f42;
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
text-align: center;

}

.hero-btn {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
}

.hero-btn:focus {
background-color: #404BBF;
}

.hero-btn:hover {
background-color: #404BBF;
}


/*!----------FEATURES----------*/

.features {
}
.features-list {
}
.header-nav-item {
}
.title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title);
}
.features-text {
}

/*?--------------INFO--------------*/

.info {
}
.info-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title); 

}
.info-list {
}
.info-list-item {
}
.info-list-img {
}

/*!-------------TEAM--------------*/

.team {
    background-color: #F4F4FD
}
.team-title {
}
.info-title {
}
.team-list {
}
.team-list-item {
    background-color: #FFFFFF
}
.team-list-img {
}
.team-list-title {
    text-align: center;
}
.team-list-text {
    text-align: center;
}
/*?----------FOOTER----------*/

.footer {
    background-color: var(--title);
}
.footer-text {
color: #F4F4FD;
}

/*!---------------PORTFOLIO-----------*/

.portfolio-main {
    background-color: #FFFFFF;
}
.portfolio-hero {
}
.btns-list {
}
.list {
}
.btns-list-item {
}
.btns-list-btn {
  font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
background-color: #F4F4FD;
cursor: pointer;
}

.btns-list-btn:hover:hover {
   color: #FFFFFF;
   background-color: #404BBF;
}

.btns-list-btn:focus {
   color: #FFFFFF;
   background-color: #404BBF;
}

.project-list {
}
.project-list-item {
}
.project-link {
}
.link {
}
.project-img {
}
.project-title {
}
.project-text {
}
.text {
}